<div class="camera-container">

  <mat-form-field appearance="outline" class="camera-select">
    <mat-label>Kamera</mat-label>

    <mat-select [value]="camera.activeDeviceId()" (selectionChange)="changeCamera($event.value)">

      @for (
        device of camera.devices();
        track device.id
      ) {
      <mat-option [value]="device.id">{{ device.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="video-container">

  @if (camera.error()) {

  <div class="camera-error">

    {{ camera.error() }}

    <button mat-raised-button color="primary" (click)="reloadCamera()">Erneut versuchen</button>

  </div>

  } @else {
  <div class="viewPort">
    <video
      #video
      autoplay
      muted
      playsinline>
    </video>

    <canvas
      #canvas
      class="render-canvas">
    </canvas>

  </div>
  }

</div>
