:host {

  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.dashboard {

  display: flex;
  flex-direction: column;

  gap: 2rem;

  min-width: 300px;
}

h1 {

  text-align: center;

  margin: 0;
}

.actions {

  display: flex;
  flex-direction: column;

  gap: 1rem;
}
